.title {
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
} 

body {
  background: rgb(0, 0, 0);
  font: 100% system-ui;
}

h1 {
    background-color: #cd69c9;
    color: #000000;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.informatie
{
  column-count: 1;
}

h1,
p {
  color: rgb(255, 255, 255);
}
h4 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.container {
  position: relative;
  height: 250px;
  border: 2px solid #ffffff;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


