.title {
    font-size: 50px;
    text-align: center;
    font-family: monospace;
}



h1 {
    background-color: #cd69c9;
    color: #000000;
}

p {
    text-align: center;
    font-size: 20px;
}

body {
    font-family: helvetica;
}

