.title {
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }


h1 {
    background-color: #cd69c9;
    color: #000000;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

